.left-column {
    flex: 1;
    padding: 20px;
    background-color: #f9f9f9;
}

/* Colonne droite */
.right-column {
    flex: 1;
    padding: 20px;
    background-color: #fff;
}

/* Titres */
h2 {
    color: #333;
    margin-top: 0;
}

/* Classement de la course */
#race-ranking {
    margin-top: 20px;
}

#race-ranking ol {
    list-style: none;
    padding: 0;
}

#race-ranking li {
    margin-bottom: 10px;
    font-size: 16px;
    color: #333;
}

/* Classement stylisé avec médailles */
.classement {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
}

.classement thead tr {
    background-color: #10bbc7;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.classement th,
.classement td {
    padding: 12px 15px;
}

.classement tbody tr {
    border-bottom: 1px solid #dddddd;
}

.classement tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.classement tbody tr:last-of-type {
    border-bottom: 2px solid #1091b8;
}

.classement tbody tr:hover {
    background-color: #f1f1f1;
}

/* Carte du circuit */
#mapid {
    height: 400px;
    margin-top: 20px;
}

/* Marqueurs de kart */
.kart-marker {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red; /* Couleur des marqueurs changée en rouge */
    border: 2px solid #fff; /* Ajout d'une bordure pour mieux distinguer les marqueurs */
}

/* Légende des marqueurs */
.kart-legend {
    margin-top: 10px;
    text-align: center;
}

.kart-legend-item {
    display: inline-block;
    margin-right: 10px;
}

.kart-legend-item span {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 5px;
}

/* Personnalisation des couleurs des marqueurs */
.kart1 { background-color: red; }
.kart2 { background-color: blue; }
.kart3 { background-color: green; }
.kart4 { background-color: orange; }
.kart5 { background-color: purple; }
.kart6 { background-color: yellow; }